* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior:smooth;
}

body {
    background-color: rgb(30,30,30);
    font-family: 'Arsenal', sans-serif;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: rgb(238, 209, 123);;
}

header {
    height: 80px;
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgb(20, 20, 20, 0.98) 0%, rgba(28, 28, 28, 0.98) 100%);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 1.3rem;
    z-index: 10;
}

header .logo {
    font-size: 2.5rem;
    font-family: 'Poiret One', cursive;

}

header nav {
    font-family: 'Arsenal', sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.banner {
    margin-top: 120px;
    /*height: 700px;*/
    /*
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    */
    
    /*
    background-image: url("./cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    */

    background: rgb(30,30,30);
    background: url("./noisy3.png");

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 75px;
    


    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner .quote {
    color: rgb(40,40,40);
    font-size: 1.8em;
    letter-spacing: .4rem;
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
}

.banner .photo {
    order: 2;
}

.btn-resume, .btn-more-skills {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid gold;
    color: gold;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Arsenal', sans-serif;
    transition: 0.1s ease-out;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.btn-resume:hover, .btn-more-skills:hover {
    background-color: rgb(255, 223, 40);
    color: rgb(20,20,20);
    opacity: 0.8;
    transition: 0.2s ease-in;
}

.btn-small {
    padding: 12px 26px;
    font-size: 1.1rem;
}

main {
    background-color: rgb(30,30,30);
    color: aliceblue;
    font-family: 'Arsenal', sans-serif;
    text-align: center;
}

main h2 {
    margin-bottom: 20px;
}

main .about-me {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

main .about-me h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
    color: black;
    font-size: 1.6rem;
}

main .about-me p {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 35px;
}



main .projects {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;;
    margin-bottom: 40px;
    height: auto;
}

main .projects h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
    color: black;
    font-size: 1.6rem;
}

main .projects p {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 35px;
    margin-bottom: 20px;
}

main .projects .projects-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    flex-wrap: wrap;
}

main .projects .project-card {
    background: #6a5bcd;
    background: linear-gradient(83deg, rgba(106,91,205,1) 0%, rgba(115,101,203,1) 100%);
    color: white;
    height: 320px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 2px slateblue;

}

main .projects .project-card:hover {
    margin-left: 2px;
    margin-top: 2px;
    margin-right: -2px;
    box-shadow: none;

}



main .projects .card {
    padding: 20px 20px;
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 35px;
    cursor: pointer;
    font-weight: 700;
}

main .projects .card1 {
    display: flex;
    flex-wrap: wrap;
}

main .projects .card1 h3 {
    font-size: 1.4rem;
    align-self: center;
    width: 100%;
    
}

main .projects .card1 .project-footer {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(252, 243, 127);

}

main .projects .card1 .project-date {
    color: #c1baeb;
    text-shadow: 0px 1px 0px #c1baeb, 0px -1px 0px rgb(77, 58, 196);
}

main .projects .card1 .project-footer .project-footer-logos {
    display: flex;
    align-items: center;
    gap: 6px;
}

main .projects .card1 .project-footer img {
    width: 30px;
    height: 30px;
    background: rgba(30, 30, 30, 0.7);
    border-radius: 50%;
    padding: 5px;
}

main .projects .card2 {
    font-size: 1rem;
    line-height: 25px;
    /*
    background: linear-gradient(83deg, rgba(106,91,205,1) 0%, rgba(115,101,203,1) 100%);
    color: white;
    */
    background-color: gold;
    color: rgb(20,20,20);
    position: absolute;
    top: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px gold;
}


main .skills {
    padding: 40px 10%;
}



main .skills h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
    color: black;
    font-size: 1.6rem;
}

main .skills p {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 35px;
}

main .skills-content, main .skills-other-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main .skills h3 { 
    margin-bottom: 10px;
}

main .skills img {
    width: 100px;
    max-height: 100px;
}

main .skill {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main .skill-bar {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    border: 1px solid gold;
    border-radius: 20px;
}

main .skill-bar .skill-rate-100 {
    background-color: gold;
    opacity: 0.50;
    height: 100%;
    width: 100%;
}

main .skill-bar .skill-rate-75 {
    background-color: gold;
    opacity: 0.50;
    height: 100%;
    width: 75%;
}

main .skill-bar .skill-rate-50 {
    background-color: gold;
    opacity: 0.50;
    height: 100%;
    width: 50%;
}

main .skill-bar .skill-rate-25 {
    background-color: gold;
    opacity: 0.50;
    height: 100%;
    width: 25%;
}


.separator {
    width: 50%;
    height: 10px;
    border-bottom: 0.5px solid hsl(51, 100%, 50%, 0.2);
    margin: 0 auto;
}


main .training  {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;;
    margin-bottom: 40px;
}

main .training h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
    color: black;
    font-size: 1.6rem;
}

main .training .training-item {
    margin: 20px 0;
    min-height: auto;
}

main .training .training-item h3 {
    margin-bottom: 10px;
    line-height: 1.5;
}

main .training .training-detail {
    padding: 15px;
    border: 1px solid gold;
    border-radius: 10px;
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
}

main .more-training-btn {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid gold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: gold;
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.1s ease-out;
}

main .more-training-btn:hover {
    background-color: rgb(255, 223, 40);
    color: rgb(20,20,20);
    opacity: 0.8;
    transition: 0.2s ease-in;
}

main .training-titles, main .contacts-titles {
    color: gold;
}

main .training-link, main .contact-link {
    color: lightskyblue !important;
}

main .training-link:hover, main .contact-link:hover {
    text-decoration: underline;
}


main .contacts {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;;
    margin-bottom: 80px;
}


main .contacts h2 {
    font-family: 'Poiret One', cursive;
    text-shadow: -2px 2px 0 gold,
                  2px 2px 0 gold,
                 2px -2px 0 gold,
                -2px -2px 0 gold;
    color: black;
    font-size: 1.6rem;
}

footer {
    height: 40px;
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgb(20, 20, 20, 0.98) 0%, rgba(28, 28, 28, 0.98) 100%);
    color: rgba(255,255,255,0.4);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

@media screen and (max-width:1700px) {
    .banner .quote {
        font-size: 1.6em;
    }

    .banner .photo img{
        width: 450px;
    }
}

@media screen and (max-width:1500px) {
    .banner .quote {
        font-size: 1.4em;
        letter-spacing: .3rem;
    }

    .banner .photo img{
        width: 380px;
    }

    .btn-resume {
        padding: 15px 30px;
        border: 2px solid gold;
        font-size: 1.1rem;
        border-radius: 10px;
        margin-top: 30px;
        letter-spacing: 0.1rem;
    }
}

@media screen and (max-width:1300px) {
    .banner .quote {
        font-size: 1.2em;
        letter-spacing: .2rem;
    }

    .banner .photo img{
        width: 320px;
    }

    .btn-resume {
        padding: 15px 30px;
        border: 2px solid gold;
        font-size: 1.1rem;
        border-radius: 10px;
        margin-top: 30px;
        letter-spacing: 0.1rem;
    }
}

@media screen and (max-width:1100px) {
    .banner .quote {
        font-size: 1rem;
        letter-spacing: .2rem;
    }

    .banner .photo img{
        width: 250px;
    }

    .btn-resume {
        padding: 10px 22px;
        border: 2px solid gold;
        font-size: 1rem;
        border-radius: 10px;
        margin-top: 25px;
        letter-spacing: 0.1rem;
    }
}

@media screen and (max-width:925px) {

    .banner {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 20px;
    }

    .banner .photo {
        margin-bottom: 20px;
    }

    .banner .photo img{
        width: 350px;
    }

    .btn-resume {
        padding: 15px 30px;
        border: 2px solid gold;
        font-size: 1.1rem;
        border-radius: 10px;
        margin-top: 30px;
        letter-spacing: 0.1rem;
        margin-bottom: 20px;
    }

    .banner .quote {
        font-size: 1.2em;
        letter-spacing: .2rem;
        order: 2 !important;
        text-align: center;
    }

}

@media screen and (max-width:820px) {
    header {
        padding: 0 30px;
        font-size: 1.2rem;
    }
    
    header .logo {
        font-size: 2rem;  
    }

    header nav ul {
        gap: 0.9rem;
    }

    .banner .photo img{
        width: 300px;
    }

}

@media screen and (max-width:650px) {
    header nav ul {
        margin-left: 40px;
        flex-wrap: wrap;
    }

    header {
        padding: 60px 20px;
    }

    .banner .photo img{
        width: 250px;
    }
}